################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuestionaryApp
/QuestionaryApplication/obj
/QuestionaryApplication/bin/Debug/netcoreapp3.1
/Questionnaire/.vs
